@import url("//fonts.googleapis.com/css2?family=Signika:wght@520&display=swap");
@import url('//fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
@import url('//fonts.googleapis.com/css2?family=Inter:wght@800;900&display=swap');




.introBaseContainer{
    margin-top: 0px !important;
    /* height: 1000px; */
    /* background-image: linear-gradient(#f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #f0c92e, #FEFBF5); */
    background-color: #f0c92e;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.introTitle{
    font-family: 'Inter', sans-serif;
    font-weight: 800px;
    font-size: min(calc(65px + 3vw), 130px);
    margin-top: 40px;
    margin-bottom: -5px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 20px;
    letter-spacing: 3px;
    line-height: 0.9em;
    z-index: 10;
    width: 100%;
    text-align: left;
}

.introHeader{
    font-family: 'Inter', sans-serif;
    font-weight: 800; 
    width: 100%;
    font-size: 70px;
    margin-top: 30px;
    padding-left: 50px;
    
}

.introSubText{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: min(26px, calc(18px + 1vw));
    letter-spacing: 0.8px;
    margin-top: 90px;
    /* margin-left: 30px; */
    padding-left: 1vw;
    padding-right: 1vw;
    /* margin-right: -30px; */
    margin-bottom: 10vw;
    line-height: max(min(4vw, 250%), 175%);
    /* height: 20vh; */
}








.intro {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #686e74;
    font-size: min(22px, calc(16px + 0.5vw));
    position: relative;
    left: 1vw;
    /* margin-left: 10px; */
    padding-left: 2rem;
    padding-right: 2rem;
    /* border-radius: 15px; */
    min-height: calc(600px + 2vw);
    padding-bottom: 2vw;
    letter-spacing: 0.8px;
    background-color: #faf8f8;
    line-height: 220%;
    min-width:calc(400px + 4vw);
    /* border-radius: 12px; */
    box-shadow: -1px 10px 18px #b9b6b0;
}

.upper {
    padding-top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
    color: #2a2f35;
    font-size: min( 54px, calc(42px + 0.5vw));
}

.lower {
    padding-bottom: 1vw;
}

.inline{
    display: inline;
}

.colored {
    background: -webkit-linear-gradient(-45deg, #3a1c71, #d76d77, #b06ab3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    
    
    /* text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: #dddddd;
    text-decoration-color: #dddddd;
    text-decoration-thickness: 200%; */
    /* font-weight: 700; */
    font-weight: 900;
    font-size: min( 28px, calc(24px + 0.5vw));
    
}

.nameColored {
    /* color: black; */
    /* font-size: calc(22px + 0.5vw); */
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: #e3e6eb;
    text-decoration-color: #e3e6eb;
    text-decoration-thickness: 200%;
}



.overlap{
    z-index: 10; 
    min-height: calc(600px + 2vw + 5rem);
}

.imgContainer{
    position: relative;
    left: -2.5rem;
    top: 5rem;
    /* margin-top: 5rem;
    margin-left: -5rem; 
    margin-right: 5rem;
    min-width:300px; */
    min-height: calc(600px + 2vw); 
    /* z-index: 1; */
}

.headshotImg img{
    width: 100%;
    /* max-height: calc(600px + 1vw); */
    min-height: calc(600px + 2vw);
    /* max-width: calc(600px + 4vw); */
    min-width: calc(400px + 4vw);
    border-radius: 12px;
    box-shadow: -3px 5px 18px #798188;
    



}



