@import url("https://fonts.googleapis.com/css2?family=Signika:wght@520&display=swap");

.intro {
    font-family: 'Signika', sans-serif;
    color: #F2F2F2;
    padding-bottom: 4px;
    font-size: 26px;
    /* margin-left: 10px; */
    padding-left: 20px;
    padding-right:20px;
    /* border-radius: 15px; */
    height: 400px;
    letter-spacing: 0.8px;
    background-color: #341d08;
    
}

.upper {
    padding-top: 20px;
    margin-bottom: 20px;
}

.lower {
    padding-bottom: 20px;
}

.inline{
    display: inline;
}

.colored {
    color:  #FEDC3D;
    font-size: 30px;
    
}

