@import url("https://fonts.googleapis.com/css2?family=Signika:wght@520&display=swap");



.main-nav {
    color: white;
}

.main-nav-active {
    color: tomato;
}
.nav-content{
    width:100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}
nav{
    font-family: 'Signika', sans-serif;
    width:100%;
    color:white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}


.active{
    background-color: #4CAF50;
}