.portfolioContainer {
    background-color: #98bec8;
    width: 100%;
}

.portfolioTitle{
    
    font-family: 'Inter', sans-serif;
    font-weight: 800px;
    font-size: 120px;
    margin-top: 80px;
    margin-bottom: -5px;
    margin-right: 20px;
    letter-spacing: 3px;
    line-height: 0.6em;
    z-index: 10;


}

.portfolioDashed {
    border-left: 3px solid #81a3ac;
    margin-top: 40px;
    height: 250px;
    margin-bottom: 40px;
}

