@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@700&display=swap');

.title{
    /* color: #FEDC4f; */
    font-family: 'Inter', sans-serif;
    font-weight: 800px;
    font-size: min(calc(80px + 2vw), 120px);
    margin-top: 40px;
    margin-bottom: -5px;
    padding-left: 20px;
    letter-spacing: 3px;
    line-height: 0.6em;
    z-index: 10;
    width: 100%;
    text-align: left;

}


.bullet {
    font-family: 'Signika', sans-serif;
    font-size: 24px;
    letter-spacing: 0.8px;
    /* background-color: #3bab87; */
}

.skillContainer {
    background-color: #3bab87;
    /* height: 600px; */
    /* width: 100%; */
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.skillList {
    padding-top: 20px;
}


.white{
    color: white;
}

.header{
    font-family: 'Inter', sans-serif;
    font-weight: 800; 
    width: 100%;
    font-size: 62px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 50px;
    

}

.langs {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.8px;
    margin-top: 20px;
    margin-left: 20px;

}


.dashed{
    border-left: 3px solid #319072;
    margin-top: 70px;
    /* height: 100%; */
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    
}

.twoColumn{
    font-family: 'Inter', sans-serif;
    justify-content: center;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    -moz-column-width: 120px;
    column-width: 120px;
    margin-top:10px;
    /* line-height: 200% !important; */
    margin-left: 1vw;
    padding-inline-start: 20px;
    /* width: 275px; */
    
    font-size: 19px;
    line-height: 5vh;
    /* margin-bottom: 50px; */
    color: white;
}

.bulletRow{
    margin-right: 10px;
    
}

.quoteTop {
    font-family: 'Yantramanav', sans-serif;
    font-size: 120px;
    /* margin-bottom: 60px; */
    /* margin-top: calc(1.1em - 5vw); */
    
    /* position: absolute;
    top: 16%; */
    
    width: 100%;
    margin-left: -20px;
    height: 100px;
    float:left;
    color:#0f2e24;
}

.quoteBottom {
    font-family: 'Yantramanav', sans-serif;
    font-size: 120px;
    height: 90px;
    margin: auto;
    /* margin-right: 20px; */
    /* height: 0px; */
    /* float: right; */
    margin-left: 20px;
    margin-top: -10px;
     /* position: absolute; */
    /* margin-left: 20px; */
    /* margin-bottom: calc(80px + 1vw); */
    /* margin-top: -10px; */
    /* bottom: 20px;  */
    /* position: absolute;
    top: 60%; */
    color:#0f2e24;
    width: 100%;
    text-align: right;
}

.quoteCtn{
    
    /* margin-bottom: 100px; */
    /* position: relative; */
    margin-top: auto;
    margin-bottom: auto;
    
}

.skillFooter{
    padding-bottom: 50px !important;
}




.quoteText {
    /* margin: auto; */
    /* position: absolute;
    top: 37%;
    left: 13%;
    right: 5%; */
    /* left: 20%; */
    font-size: min(26px, calc(19px + 0.5vw));
    font-family: 'Inter', sans-serif;
    margin-left: 3vw;
    margin-right: 1vw;
}

.floatRight {
    float: right;
}