.Yellow {
    /* margin-right : 0 !important;
    margin-left : 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
    height: 100%; */
    background-color: white;
    
}

.Brown {
    background-color: white;
}

.Blank{
    height: 40px;
}

.Triangles{
    background-image: url(https://cdn4.iconfinder.com/data/icons/geomicons/32/672341-triangle-down-256.png);
    background-repeat: repeat-x;
    height: 40px;
    z-index: 20px;
}